@font-face {
    font-family: matrix;
    src: url(../matrixSC/fonts/matrix-code-nfi/matrix\ code\ nfi.otf) format("opentype"),
         url(../matrixSC/fonts/matrix-code-nfi/matrix\ code\ nfi.ttf) format("truetype");
}

body {
    box-sizing: border-box;
    font-family: "matrix";
    background-color: black;
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
  }